* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	background-color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
  }
  
  .container {
	position: relative;
	max-width: 400px;
	margin: 30px auto;
	padding: 40px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
  }
  
  h2 {
	margin-top: 69px;
	margin-bottom: 25px;
	text-align: center;
	color: #333;
	font-weight: 700;
  }
  
  .input-group {
	margin-bottom: 20px;
  }
  
  label {
	display: block;
	margin-left: 3px;
	margin-bottom: 5px;
	color: #777;
  }
  
  input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	outline-color: #4CAF50;
  }
  
  button {
	margin-top: 5px;
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	border: none;
	border-radius: 20px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #45a049;
  }
  
  #clear-btn {
	margin-top: 10px;
	background-color: #df3327;
  }
  
  #clear-btn:hover {
	background-color: #c72b21;
  }
  
  #sign-up-refer {
	margin-top: 20px;
	text-align: center;
	color: #777;
  }
  
  #sign-up-refer a {
	color: #1579bd;
	text-decoration: none;
  }
  
  #sign-up-refer a:hover {
	text-decoration: underline;
  }
  
  .hidden {
	display: none;
  }
  

